<style>
  span {
    padding: 20px
  }

  button {
    width: 100%;
    padding: 10px
  }
</style>
<div class="container" align="center">
  <div class="alert alert-success alert-dismissible" [hidden]="hiddenAlert">
    <a type="button" class="btn btn-outline-success" (click)="closeAlert()" style="padding:0 5px 0 5px; margin: 5px">&times;</a>
    <strong>Success!</strong> You have bought the book.
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div><img [src]="booksDTO!.image" height="400px"></div>
      <div>
        <span>Name: {{booksDTO!.name}}</span>
        <span>Author: {{booksDTO!.author!.name}}</span>
      </div>
      <div>
        <span>Share: {{booksDTO!.createdAt | date: 'dd-mm-yyyy'}}</span>
        <span>View: {{booksDTO!.viewCount}}</span>
      </div>
      <button class="btn btn-primary" (click)="buy(booksDTO!.id!)">Buy: {{booksDTO?.price}} UZS</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>
