<div class="container" align="center" style="padding: 20px">
  <form #editFrom="ngForm" (ngSubmit)="onSubmit(editFrom.value)"
        style="border: 1px solid black; width: 250px; padding:20px; margin-top: 12%">
    <p>Sing In</p>
    <input type="text" placeholder="Login" name="login" style="padding: 10px" ngModel><br><br>
    <input type="password" placeholder="Password" name="password" style="padding: 10px" ngModel>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
